<div class="container center">
  <mat-card>
    <mat-card-content>
      <mat-grid-list [cols]="3" rowHeight="5:2" class="text-center pagination-centered">
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
          <button mat-flat-button class="btn-block with-padding" color="primary" routerLink="clients">
            <h4>Klienci</h4>
          </button>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
          <button mat-flat-button class="btn-block green with-padding" color="primary" routerLink="statistics">
            <h4>Statystyki</h4>
          </button>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
          <button mat-flat-button class="btn-block red with-padding" color="primary" routerLink="transactions">
            <h4>Transakcje</h4>
          </button>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
          <button mat-flat-button class="btn-block purple with-padding" color="primary" routerLink="products">
            <h4>Produkty</h4>
          </button>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>
