.fixActionRow {
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-dialog-content{
  height: 100%;
  overflow-y: hidden;
}

.spacer {
  flex-grow: 1;
  flex-direction: column;
}

button{
  margin-left:1em;
}

mat-table {
  width: 100%;
}

mat-row:hover{
  background: #d3d3d3;
  cursor: pointer;
}

.stretched{
  flex: 0 0 10% !important;
}

#products{
  overflow-y: auto;
  height: 40vh;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
  padding-top: 5vh;
  padding-bottom: 3vh;
}

mat-spinner{
  position: absolute;
  margin-top: 65vh;
  margin-left: 35vw;
}
