<div class="fixActionRow">
  <mat-form-field *ngIf="isEditModeEnabled;else nameStaticContent">
    <input [(ngModel)]="editableClient.firstName" type="text" matInput value="{{client.firstName}}">
  </mat-form-field>
  <mat-form-field *ngIf="isEditModeEnabled">
    <input [(ngModel)]="editableClient.surname" type="text" matInput value="{{client.surname}}">
  </mat-form-field>
  <ng-template #nameStaticContent>
    <h2 mat-dialog-title>{{client.firstName + " " + client.surname}}</h2>
  </ng-template>
  <mat-dialog-content>
    <mat-grid-list [cols]="2" rowHeight="60vh">
      <mat-grid-tile>
        <mat-list>
          <mat-list-item>
            <h4>Kontakt:</h4>
          </mat-list-item>
          <mat-list-item>
            <h5>Email:</h5>
          </mat-list-item>
          <mat-list-item>
            <mat-form-field *ngIf="isEditModeEnabled;else emailStaticContent">
              <input [(ngModel)]="editableClient.contact.email" type="email" matInput value="{{client.contact.email}}">
            </mat-form-field>
            <ng-template #emailStaticContent>
              <span>{{client.contact.email}}</span>
            </ng-template>
          </mat-list-item>
          <mat-list-item>
            <h5>Numer telefonu:</h5>
          </mat-list-item>
          <mat-list-item>
            <mat-form-field *ngIf="isEditModeEnabled;else phoneNumberStaticContent">
              <input [(ngModel)]="editableClient.contact.phoneNumber" type="number" matInput
                     value="{{client.contact.phoneNumber}}">
            </mat-form-field>
            <ng-template #phoneNumberStaticContent>
              <span>{{client.contact.phoneNumber}}</span>
            </ng-template>
          </mat-list-item>
          <mat-list-item>
            <h4>Typ:</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-form-field *ngIf="isEditModeEnabled;else clientTypeStaticContent">
              <mat-select [(value)]="selectedClientType">
                <mat-option *ngFor="let clientType of availableClientTypes" [value]="clientType.id">{{clientType.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <ng-template #clientTypeStaticContent>
              <span>{{client.clientType.name}}</span>
            </ng-template>
          </mat-list-item>
          <mat-list-item>
            <h4>Firma:</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-form-field *ngIf="isEditModeEnabled;else companyStaticContent">
              <input [(ngModel)]="editableClient.company.name" type="text" matInput
                     value="{{client.company.name}}">
            </mat-form-field>
            <ng-template #companyStaticContent>
              <span>{{client.company.name}}</span>
            </ng-template>
          </mat-list-item>
        </mat-list>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-list>
          <mat-list-item>
            <h4>Adres:</h4>
          </mat-list-item>
          <mat-list-item>
            <h5>Kraj:</h5>
          </mat-list-item>
          <mat-list-item>
            <mat-form-field *ngIf="isEditModeEnabled;else countryStaticContent">
              <input [(ngModel)]="editableClient.address.country" type="text" matInput
                     value="{{client.address.country}}">
            </mat-form-field>
            <ng-template #countryStaticContent>
              <span>{{client.address.country}}</span>
            </ng-template>
          </mat-list-item>
          <mat-list-item>
            <h5>Miasto:</h5>
          </mat-list-item>
          <mat-list-item>
            <mat-form-field *ngIf="isEditModeEnabled;else cityStaticContent">
              <input [(ngModel)]="editableClient.address.city" type="text" matInput
                     value="{{client.address.city}}">
            </mat-form-field>
            <ng-template #cityStaticContent>
              <span>{{client.address.city}}</span>
            </ng-template>
          </mat-list-item>
          <mat-list-item>
            <h5>Ulica:</h5>
          </mat-list-item>
          <mat-list-item>
            <mat-form-field *ngIf="isEditModeEnabled;else streetStaticContent">
              <input [(ngModel)]="editableClient.address.street" type="text" matInput
                     value="{{client.address.street}}">
            </mat-form-field>
            <ng-template #streetStaticContent>
              <span>{{client.address.street}}</span>
            </ng-template>
          </mat-list-item>
          <mat-list-item>
            <h5>Numer domu:</h5>
          </mat-list-item>
          <mat-list-item>
            <mat-form-field *ngIf="isEditModeEnabled;else houseNumberStaticContent">
              <input [(ngModel)]="editableClient.address.houseNumber" type="number" matInput
                     value="{{client.address.houseNumber}}">
            </mat-form-field>
            <ng-template #houseNumberStaticContent>
              <span>{{client.address.houseNumber}}</span>
            </ng-template>
          </mat-list-item>
        </mat-list>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-dialog-content>
  <div class="spacer"></div>
  <mat-dialog-actions align="end">
    <div *ngIf="isEditModeEnabled; else staticActionContent">
      <button mat-flat-button color="warn" (click)="cancel()">Anuluj</button>
      <button mat-flat-button color="primary" (click)="save(client)">Zapisz</button>
    </div>
    <ng-template #staticActionContent>
      <button mat-flat-button mat-dialog-close color="warn">Zamknij</button>
      <button mat-flat-button color="primary" (click)="edit()">Edytuj</button>
    </ng-template>
  </mat-dialog-actions>
</div>
