<div class="fixActionRow">
  <mat-dialog-content>
    <mat-grid-list cols="2" rowHeight="fit" style="height: 72vh;">
      <mat-grid-tile rowspan="2">
        <mat-card>
          <h4>Klient: </h4>
          <mat-list>
            <mat-list-item>
              <p>Firma: {{transaction.client.company.name}}</p>
            </mat-list-item>
            <mat-list-item>
              <p>Imię i nazwisko: {{transaction.client.firstName}} {{transaction.client.surname}}</p>
            </mat-list-item>
          </mat-list>
          <button mat-flat-button color="accent" (click)="openClientDetails(transaction.client)">Więcej...</button>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile rowspan="2">
        <mat-card>
          <h4>Data wystawienia: </h4>
          <p>{{transaction.date | date}}</p>
          <p>{{transaction.date | date: 'hh:mm:ss'}}</p>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" rowspan="4" >
        <mat-card id="products" style="width: 100%">
          <table style="width: 100%;" mat-table [dataSource]="detailsDataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="Index">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let index = index"> {{index + 1}} </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef> Nazwa </th>
              <td mat-cell *matCellDef="let transactionDetails"> {{transactionDetails.product.name}} </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="Quantity">
              <th mat-header-cell *matHeaderCellDef> Ilość </th>
              <td mat-cell *matCellDef="let transactionDetails"> {{transactionDetails.quantity}} szt.</td>
              <td mat-footer-cell *matFooterCellDef><b>Suma: </b></td>
            </ng-container>

            <ng-container matColumnDef="UnitPrice">
              <th mat-header-cell *matHeaderCellDef> Cena Jednostkowa </th>
              <td mat-cell *matCellDef="let transactionDetails"> {{transactionDetails.product.price}} zł</td>
              <td mat-footer-cell *matFooterCellDef><b>{{transaction.totalPrice}} zł</b> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>

          </table>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-dialog-content>
  <div class="spacer"></div>
  <mat-dialog-actions align="end">
      <button mat-flat-button mat-dialog-close color="warn" >Zamknij</button>
  </mat-dialog-actions>
</div>
