<div class="container">
  <mat-card>
    <mat-card-actions>
      <mat-grid-list cols="6" rowHeight="5:1">
        <mat-grid-tile >
          <button mat-flat-button color="primary" routerLink="">Powrót</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-select [(value)]="desiredResult" (selectionChange)="changeResult()">
            <mat-option value="products"> Produkty </mat-option>
            <mat-option value="clients"> Klienci </mat-option>
            <mat-option value="transactions"> Transakcje </mat-option>
          </mat-select>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-select placeholder="Zapytanie">
          </mat-select>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-flat-button color="primary" (click)="pickFilters()"> Filtry </button>
          <span matSuffix>({{query.filters.count()}})</span>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-flat-button color="primary" (click)="clearFilters()"> Wyczyść filtry</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-flat-button color="primary" (click)="getResults()"> Generuj </button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-actions>
    <mat-card-content>
      <mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="Name">
          <mat-header-cell *matHeaderCellDef> Nazwa</mat-header-cell>
          <mat-cell class="pr-5" *matCellDef="let product"> {{product.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ProductType">
          <mat-header-cell *matHeaderCellDef> Kategoria</mat-header-cell>
          <mat-cell *matCellDef="let product"> {{product.productType.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Quantity">
          <mat-header-cell *matHeaderCellDef> Cena</mat-header-cell>
          <mat-cell *matCellDef="let product"> {{product.price}} zł</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Price">
          <mat-header-cell *matHeaderCellDef> Ilość</mat-header-cell>
          <mat-cell *matCellDef="let product"> {{product.quantity}} szt.</mat-cell>
        </ng-container>

        <ng-container matColumnDef="First Name">
          <mat-header-cell *matHeaderCellDef> Imię</mat-header-cell>
          <mat-cell class="pr-5" *matCellDef="let client"> {{client.firstName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Last Name">
          <mat-header-cell *matHeaderCellDef> Nazwisko</mat-header-cell>
          <mat-cell class="pr-5" *matCellDef="let client"> {{client.surname}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="City">
          <mat-header-cell *matHeaderCellDef> Miasto</mat-header-cell>
          <mat-cell class="pr-5" *matCellDef="let client"> {{client.address.city}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Country">
          <mat-header-cell *matHeaderCellDef> Kraj</mat-header-cell>
          <mat-cell class="pr-5" *matCellDef="let client"> {{client.address.country}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Email">
          <mat-header-cell *matHeaderCellDef> Email</mat-header-cell>
          <mat-cell class="pr-5" *matCellDef="let client"> {{client.contact.email}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Id">
          <mat-header-cell *matHeaderCellDef> Numer zamówienia </mat-header-cell>
          <mat-cell class="pr-5" *matCellDef="let transaction"> {{transaction.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Company">
          <mat-header-cell *matHeaderCellDef> Firma </mat-header-cell>
          <mat-cell *matCellDef="let transaction"> {{transaction.client.company.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="FirstName">
          <mat-header-cell *matHeaderCellDef> Imię </mat-header-cell>
          <mat-cell *matCellDef="let transaction"> {{transaction.client.firstName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Surname">
          <mat-header-cell *matHeaderCellDef> Nazwisko </mat-header-cell>
          <mat-cell *matCellDef="let transaction"> {{transaction.client.surname}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="TotalPrice">
          <mat-header-cell *matHeaderCellDef> Cena całkowita </mat-header-cell>
          <mat-cell *matCellDef="let transaction"> {{transaction.totalPrice}} zł</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let item; columns: columnsToDisplay"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>
</div>
